@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

.animatedImage {
  background-image: url("../assets/special_offer_text_bg.png");
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  animation-name: masked-animation;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  line-height: 1.2;
  font-weight: 900;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: #333;
}

@keyframes masked-animation {
  0%,
  100% {
    background-position: 50% 35%;
  }
  50% {
    background-position: 50% 65%;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
button {
  font-family: "Zain", sans-serif;
}

p,
*,
label {
  font-family: "Open Sans", sans-serif;
}

.scroll-link {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.scroll-link:hover {
  background-color: #0056b3;
}

.typing {
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation: typing 2s steps(22), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 22ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
