/* .animatedImage{
    background-image: url("../assets/special.jpg");
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: masked-animation;
    animation-name: masked-animation;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    line-height: 1.2;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #333;
}

@keyframes masked-animation {
    0%, 100% {
        background-position: 50% 35%;
    }
    50% {
        background-position: 50% 65%;
    }
} */
 html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
     scroll-behavior: smooth !important;
}



.scroll-link {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.scroll-link:hover {
  background-color: #0056b3;
}
